<p id="notice"><%= notice %></p>

<h1>
  <marquee>
    Shree Travel Agency
  </marquee>
</h1>

<table class='table table-hover table-bordered'>
  <thead>
    <tr>
      <th>Ticket type</th>
      <th>Total seats</th>
      <th>Available seats</th>
      <th>Reserved seats</th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.ticket_type %></td>
        <td><%= ticket.total_seats %></td>
        <td><%= ticket.available_seats %></td>
        <td><%= ticket.reserved_seats %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to "New Ticket", new_ticket_path, class: "btn btn-success", method: "get"%>
<br>
<%= button_to "Book Ticket", new_booking_info_path, class: "btn btn-success", method: "get"%>
<br>
<%= button_to "Ticket List", booking_infos_path, class: "btn btn-success", method: "get"%>
