<p id="notice"><%= notice %></p>

<p>
  <strong>Ticket type:</strong>
  <%= @ticket.ticket_type %>
</p>

<p>
  <strong>Total seats:</strong>
  <%= @ticket.total_seats %>
</p>

<p>
  <strong>Available seats:</strong>
  <%= @ticket.available_seats %>
</p>

<p>
  <strong>Reserved seats:</strong>
  <%= @ticket.reserved_seats %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
